// Fonts
@font-face {
    font-family: 'JetBrains Mono Bold';
    src: url('../assets/fonts/ttf/JetBrainsMono-Bold.ttf');
}

@font-face {
    font-family: 'JetBrains Mono ExtraBold';
    src: url('../assets/fonts/ttf/JetBrainsMono-ExtraBold.ttf');
}

// Variables
// Hero
html, body {
  height: 100%;
  margin: 0;
}

#site-content {
    #hero {
        height: 100%;
        margin: 0;
        overflow: hidden;

        .row {
            #hero-left {
                position: relative;

                h1 {
                    padding-top: .25rem;
                    font-size: 4rem;
                }

                h2 {
                    font-size: 2rem;
                }

                h3 {
                    font-size: 1rem;
                }

                h1, h2, h3 {
                    text-align: right;
                    color: #D8DBE2;

                    font-family: 'JetBrains Mono Bold', sans-serif;
                }

                .web-code-page {
                    text-decoration: none;
                }
            }

            #hero-right {
                pre {
                    width: 100% !important;
                }
            }
        }
    }
}

hr {
    color: #fff;

    margin-left: 12px;
    margin-right: 12px;

    border-top-width: 4px;
}