// Fonts
@font-face {
    font-family: 'JetBrains Mono Light';
    src: url('../assets/fonts/ttf/JetBrainsMono-Light.ttf');
}

@font-face {
    font-family: 'JetBrains Mono Medium';
    src: url('../assets/fonts/ttf/JetBrainsMono-Light.ttf');
}

@font-face {
    font-family: 'JetBrains Mono Bold';
    src: url('../assets/fonts/ttf/JetBrainsMono-Bold.ttf');
}

@font-face {
    font-family: 'JetBrains Mono ExtraBold';
    src: url('../assets/fonts/ttf/JetBrainsMono-ExtraBold.ttf');
}


:root {
  --link-color: #01ff70;
  --link-hover-color: #2ecc40;
}

html,
body {
  background-color: #000;
  min-height: 100%;
  margin: 0%
}

html {
  font-size: 18px;
}

body {
  color: #fafafa;
  line-height: 1.45;
  margin: 6rem auto 1rem;
  max-width: 85%;
  padding: .25rem;
}

p {
  font-family: 'JetBrains Mono Medium', sans-serif;
}

li {
   font-family: 'Jetbrains Mono Light', sans-serif;
}

h1 {
    margin-bottom: 0px;
}
h1, h2, h3, time {
  font-family: 'JetBrains Mono ExtraBold', sans-serif;
}

pre {
  background-color: #151515;
}

blockquote {
  border-left: 3px solid var(--link-color);
  padding-left: 1rem;
}

.blog-nav {
  a {
      font-family: 'JetBrains Mono Bold', sans-serif;
      padding-right: 1.5em;

      color: #3911ee;
      text-decoration: underline;
  }
}

@media (max-width: 1124px) {
    #site-content > div {
        flex-direction: column;
    }

    #site-content pre {
        flex: unset !important;
        width: 100%;
    }
}

#actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  #start-project {
    margin-top: 2em;

    background-color: #A0D585;
    border-radius: 6px;

    border-style: none;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #EEFABD;

    font-family: 'JetBrains Momo Bold', sans-serif;
    font-weight: 900;
    font-size: 2em;
  }
}